@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* Css Variables */
:root {
  --text-color: #fff;
  --primary: #c5d86d;
  --primary-black: #0d1321;
  --secondary-color: #ffeddf;
  --primary-font: "Open Sans", sans-serif;
  --body-font: "Poppins", sans-serif;
}
body {
  font-size: 16px;
  font-family: var(--primary-font);
  color: var(--text-color);
  background: var(--primary-black);
}
